
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /sedes/{id} { allow read, write: if isSignedIn(); }
    match /carreras/{id} { allow read, write: if isSignedIn(); }
    match /materias/{id} { allow read, write: if isSignedIn(); }
    match /grupos/{id} { allow read, write: if isSignedIn(); }
    match /horarios/{id} { allow read, write: if isSignedIn(); }
    match /asistencias/{id} { allow read, write: if isSignedIn(); }
  }
}
